absl-py==1.0.0
chex==0.1.6
clu==0.0.9
datasets==2.10.1
flax==0.6.5
jax==0.4.4
jaxlib==0.4.4+cuda11.cudnn82 -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
ml_collections==0.1.0
numpy==1.22.0
optax==0.1.3
orbax==0.1.2
scikit-learn==1.0.0
tensorflow==2.9.3
tensorflow_datasets==4.4.0
torch==1.12.0